$blue: rgb(19, 113, 170);
$green: rgb(80, 124, 124);
$purple: rgb(140, 94, 155);
$red: rgb(180, 79, 101);
$yellow: rgb(247, 214, 173);
$brown: #916550;
$brown-light: #C5A596;
$beige-light: #f2e1d9;
$beige-lighter: #f8f4f2;
$white: #fff;