// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-lighter;
$primary: $blue;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-background-color: $grey-light;