@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$family-serif: 'Merriweather', serif;
$roboto: 'Roboto Condensed', sans-serif;

$font-xxs: 8px;
$font-xs: 10px;
$font-small: 12px;
$font-baseline: 14px;
$font-large: 18px;
$font-xl: 24px;
$font-xxl: 30px;
$font-xxxl: 48px;
$font-xxxxl: 72px;