@charset "utf-8";

@import './typography';
@import './colors';
@import './global';

@import "~bulma/bulma.sass";

body {
  width: 100vw;
  font-family: $family-serif;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 40%;
  border: 7px $brown double;
  position: fixed;
}

nav {
  font-size: $font-large;
  margin: 20px 40px;
}

nav a {
  margin: 0 10px;
}

main {
  font-family: $family-serif;
  color: $white;
  font-size: $font-large;
  position: absolute;
  right: 0;
  width: 60%;

  a {
    color: $white;
  }
}

section {
  min-height: 100vh;
  padding: 20px 40px;
}

h1 {
  font-family: $roboto;
  font-size: $font-xxxxl;
  text-align: center;
  margin-top: 150px;
  font-weight: 700;
  text-shadow: 1px 2px $brown-light;
  
}

h2 {
  font-family: $roboto;
  font-size: $font-xxxl;
  color: $white;
  text-align: right;
  font-weight: 700;
  text-shadow: 2px 2px $brown;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.project-card {
  font-size: $font-large;
  border-left: double 10px $beige-lighter;
  padding: 0px 20px;
  width: 45%;
  margin: 10px 0;
  
  a {
    vertical-align: center;
    font-size: $font-baseline;
    padding: 2px;
  }
}

.github {
  width: 20px;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.purple {
  color: $purple;
}

.yellow {
  color: $yellow;
}

footer {
  margin: 20px 40px;
}