@charset "utf-8";

@import './typography';
@import './colors';
@import './global';

@import "~bulma/bulma.sass";

body {
    width: 100vw;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 50%;
    border: 7px $brown double;
    position: fixed;
}

nav {
  font-size: $font-large;
  margin: 20px 10px;
}

nav a {
  margin: 0 10px;
}

h1 {
  font-family: $roboto;
  font-size: $font-xxxl;
  text-align: center;
  margin-top: 100px;
  font-weight: 700;
  text-shadow: 1px 2px $brown-light;
  
  &.blue {
      color: $blue;
  }
}

footer {
  margin: 20px
}

.about {
  color: $beige-lighter;
}

main {
  position: absolute;
  right: 0;
  width: 50%;
}

section {
  min-height: 100vh;
}